@import "tailwindcss";

@theme {
  --color-primary: #FFCE1A;
  --color-secondary: #0D0842;
  --color-blackBG: #F3F3F3;
  --color-Favorite: #FF5841;
  --font-primary: Montserrat,sans-serif;
  --font-secondary: Nunito Sans,sans-serif;
}

.ant-select-selector {
  background-color: #e5e7eb !important;
}

.swiper-button-next:after,
.swiper-button-prev:after{
  font-size: 18px !important;
  font-weight: 600;
  color: #183a53;
}

.swiper-button-prev, .swiper-button-next{
  background-color: #FFFFFF;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
 